@(projects: List[Project], user: User)(body: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Zentasks</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="@routes.Assets.at("js/jquery-1.7.1.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/underscore-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/backbone-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/main.js")"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo">
                <span>Zen</span>tasks
            </a>
            <dl id="user">
                <dt>@user.name <span>(@user.email)</span></dt>
                <dd>
                    <a href="@routes.Application.logout()">Logout</a>
                </dd>
            </dl>
        </header>
        <nav>
            <h4 class="dashboard">
                <a href="#">
                    Dashboard
                </a>
            </h4>
            <ul id="projects">
                @projects.groupBy(_.folder).map {
                    case (group, projects) => {
                        @views.html.projects.group(group, projects)
                    }
                }
            </ul>
            <button id="newGroup">New Group</button>
        </nav>
        <section id="main">
            @body
        </section>
    </body>
</html>
